<mat-card>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        placeholder="Phone Number"
        name="Phone Number"
      /> </mat-form-field
    ><br />
    <button mat-raised-button color="primary">Send OTP</button><br />
    <br />
    <mat-form-field>
      <mat-label>Enter OTP</mat-label>
      <input type="password" matInput placeholder="OTP" name="Enter OTP" />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Verify OTP</button>
  </mat-card-actions>
</mat-card>
