<div class="d-flex flex-column align-items-center">
  <div class="p-3">
    <button mat-raised-button color="primary" routerLink="/auth/loginUsername">
      Sign In using Username
    </button>
  </div>
  <div class="p-3">
    <button mat-raised-button color="primary">Sign In using Facebook</button>
  </div>
  <div class="p-3">
    <button mat-raised-button color="primary" routerLink="/auth/phoneSignIn">
      Sign In using Phone
    </button>
  </div>
</div>
