<mat-card>
  <mat-card-header>
    <mat-card-title>Register </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" name="Username" /> </mat-form-field
    ><br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        name="Password"
      /> </mat-form-field
    ><br />
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput name="Confirm Password" />
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Sign up</button>
    <button mat-stroked-button routerLink="/auth/login">
      Already registered?
    </button>
  </mat-card-actions>
</mat-card>
