<div class="p-3 container" *ngFor="let match of Matches"> 
  <mat-card class="p-2 m-2 example-card">
    <div class="d-flex justify-content-center">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{match.Match_type}}</mat-card-title>
        <mat-card-subtitle>{{match.Team1}} Vs {{match.Team2}}</mat-card-subtitle>
      </mat-card-header>
      </div>
      <mat-card-actions class="text-center">
        <button mat-button (click) = "onClick()">SELECT</button>
      </mat-card-actions>
  </mat-card>
</div>
