<div class="p-3">
    <mat-card>
        <mat-card-title>Your Captain is:</mat-card-title>
        <mat-card-subtitle>{{this.captain}}</mat-card-subtitle>
    </mat-card>
</div>  
<div class="p-3">
    <mat-card>
        <mat-card-title>Your Vice Captain is:</mat-card-title>
        <mat-card-subtitle>{{this.vice}}</mat-card-subtitle>
    </mat-card>
</div>
<div class="p-3" *ngFor = "let player of players">
    <mat-card (click) = "toggleSelectCaptain(player)"> 
        <mat-card-title>{{player.Name}}</mat-card-title>
        <mat-card-subtitle>{{player.Credits}}</mat-card-subtitle>
        <mat-card-content *ngIf="player.captain"><p class="text-success">Captain Selected</p></mat-card-content>
        <mat-card-content *ngIf="player.vice"><p class="text-success">Vice Captain Selected</p></mat-card-content>
    </mat-card>
</div>
