<mat-card>
  <mat-card-header>
    <mat-card-title>Login using Username</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" name="Username" /> </mat-form-field
    ><br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" name="Password" />
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Sign in</button>
    <button mat-stroked-button routerLink="/auth/registerUsername">
      New User? Register!
    </button>
  </mat-card-actions>
</mat-card>
