<!-- <div class="d-flex" *ngFor= "let player of players">
    <div class=""><p>{{player.Name}}</p>
    <p>{{player.Credits}}</p>
    <button (click)="toggleSelectPlayer(player)">Choose Me</button>
    </div>
</div>
{{user_credits}} -->

<div class="p-5">
    <mat-card>Available Credits: {{user_credits}}</mat-card>
    <div class="p-3" *ngFor= "let player of players">
        <mat-card (click)="toggleSelectPlayer(player)">
            <mat-card-title>{{player.Name}}</mat-card-title>
            <mat-card-subtitle>{{player.Credits}}</mat-card-subtitle>
            <mat-card-content *ngIf="player.selected"><p class="text-success">Selected</p></mat-card-content>
            <mat-card-content *ngIf="user_credits - player.Credits < 0 && !player.selected"><p class="text-danger">Not Enough Credits</p></mat-card-content>
        </mat-card>
    </div>
</div>